<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <h1>Extension test</h1>
    <p>Lorem bacarau dolor, sit amet consectetur adipisicing elit. Alias ratione quo
        tempora, provident saepe deserunt
        nihil rem repellat optio. A sint dolore iste ratione neque voluptas facilis aliquid ab? Corrupti!
        Molestias temporibus vel ipsum exercitationem? Fugiat, rerum quas? Laudantium nostrum culpa possimus aperiam
        distinctio. Quasi temporibus, unde assumenda rem ab rerum totam velit corrupti doloribus porro tempora eligendi.
        Id, possimus?
        Sequi magnam vel, provident quia veniam molestias excepturi sint asperiores voluptas et enim corrupti labore
        cupiditate officia quod deserunt harum aut, accusantium omnis accusamus. Nulla quis labore hic veritatis
        aliquid!
        Maxime, deleniti deserunt? Repellendus quis voluptatibus, quos saepe dignissimos magnam quo ipsam facere
        voluptatum laboriosam, in recusandae expedita rerum fugiat cumque ullam nam facilis suscipit, totam vitae quod
        eius! Maxime?
        Quos voluptatum quas eum itaque placeat deleniti laboriosam molestias perspiciatis vitae nostrum quaerat quam,
        repellat quae maxime esse eaque voluptatibus minima enim vero consequuntur? Quis fuga exercitationem accusantium
        ipsa quam!</p>
    <form id="submit">
        <button>Submit</button>
    </form>
    <script src="/app.js"></script>


</body>

</html>